header
{
background-color: black;
border-bottom: 4px solid blue;
width:auto;
min-width:20%;
height: auto;
max-height: 20%;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
position: fixed;
z-index: 2;
}

header  .navbar-nav > .active > a
{
background-color : #04A3ED;
color: white;
font-weight: bold;
}

header  .navbar-nav >  li > a
{
font-size: 13px;
color: white;
padding: 10px 35px;

}
header  .navbar-nav >  li >  a:hover
{
background-color: blue;
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;

}
.navbar-header > a:hover
{
text-decoration: none;
color: blue;
}

header .container-fluid .col-md-7
{
  padding-left: 150px;
}

#custom-search-input button{
    background-color: blue;
    border-color: blue;
}

.container{
  padding-top: 150px;
  position:relative;
  z-index: 1;
}


