.container{
  margin-top: 21px;
}

#back_picture{
  z-index: -1;
}

#front_picture{
  z-index: 8;
  margin: -150px 0px 0px 200px;
}

h3,h4{
  text-align: center;
}

.information{
  padding-left: 20px;
}

h5{
  padding-left: 8px;
  padding-right: 5px;
}

.navbar-default .btn-info{
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}
