header{
  position:fixed;
  z-index:2;
}

header .container{
  margin-right:0px;
  margin-left: 0px;
  border:0px;
  padding:0px;
 }

header .navbar-default{
  margin-bottom: 0px;
  border:none;
  height: 70px;
  background-color:#DCDCDC;
}

header .navbar-brand{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

header .navbar-nav{
  padding-left: 100px;
  padding-top: 10px;
}


header .navbar-nav .dropdown{
   border-radius:5px;
}

header .navbar-nav .dropdown:hover{
  background-color: #5bc0de;
  border-radius:5px;
}

header .navbar-form{
  padding-left:500px;
  padding-top:10px;
}

header .navbar-nav .row{
  margin-right:0px;
  margin-left:0px;
  margin-bottom: 0px;
  padding:10px;
  padding-top:20px;
}

.carousel-caption h1 {
  font-size: 300px;
  font-family: 'Playfair Display', serif;
}

.content{
  padding-top: 80px;
  z-index:1;
  position: relative;
}

body{
  background-color:#f8f8f8;
}

footer{
 padding-top: 20px;
}


