/*header*/
header{
  z-index:2;
}

.navbar-default{
 background-color:#DCDCDC;
 border:none;
 padding:10px;
 }

header .navbar-brand{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  padding-top: 20px;
}

header .navbar-nav .dropdown{
   border-radius:5px;
   font-weight: bold;
  }

header .navbar-nav .dropdown:hover{
  background-color: #5bc0de;
  border-radius:5px;
}

header .navbar-nav .logout{
   border-radius:5px;
   font-weight: bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header .navbar-nav .logout:hover{
  background-color: #5bc0de;
  border-radius:5px;
}

header .navbar-form{
  padding-left:350px;
  padding-top:10px;
}

header .navbar-nav .row{
  margin-right:0px;
  margin-left:0px;
  margin-bottom: 0px;
  padding:10px;
  padding-top:20px;
 }

#form_register{
  width: 300px;
}

#form_login{
  width: 300px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content img{
   position: absolute;
   clip: rect(0px,60px,200px,0px);
}

.navbar-content:before, .navbar-content:after{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}

header .dropdown-menu {
padding: 0px;
overflow: hidden;
}

/*main page*/
.carousel-caption h1 {
  font-size: 300px;
  font-family: 'Playfair Display', serif;
}

/*profile page*/
#back_picture{
  z-index: -1;
}

#front_picture{
  z-index: 8;
  margin: -150px 0px 0px 200px;
}

h3,h4{
  text-align: center;
}

h5{
  padding-left: 8px;
  padding-right: 5px;
}

.information{
  padding-left: 20px;
}

#InfoContent{
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.content .navbar-default a{
  color:#5bc0de;
  font-weight: bold;
}

.row .panel{
  background-color: #DCDCDC;
}

.panel-info{
  border-color:#777;
}
.media-heading{
  color:#5bc0de;
  font-weight: bold;
}

.panel-info>.panel-heading{
  background-color:#5bc0de;
  color:white;
}
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

/*event page*/

h3 button{
 text-align: right;
}

h3{
  text-align: center;
}
#event-info .row{
  padding-left: 20px;
}

.thumbnail {
    padding:0px;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}

.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}

.panel-default, .panel-heading{
  border: 1px solid #777;
}

.stat-item{
  border: 1px solid #777;
}

/*all of the pages*/

.content{
  padding-top: 120px;
  z-index:1;
  overflow:hidden;
}

.content .row .form-horizontal{
  padding:50px;
  padding-left:100px;
}

body{
  background-color:#f8f8f8;
}

/*footer*/
footer{
 padding-top: 20px;
 padding-bottom: 5px;
}


